.wrapper {
/* margin: 0 auto; */
  /* width: 1450px;    */
 display:grid;
 /* grid-template-columns: 50% 20% 30%; */
 /* grid-template-columns: repeat(3,1fr); */
 /* grid-template-columns: repeat(auto-fit,minmax(100px,1fr)); */
 /* grid-template-columns: repeat(auto-fit, minmax(850px, 1fr)); */
  /* justify-items: center;
 align-items: center; 
 grid-gap: 2rem; */


/* background-color: whitesmoke; */
/* box-shadow: 0 5px 15px 0 rgba(0,0,0,.5); */

/* border:10x solid darkgrey; */
}
.container-md{
    margin: 0 auto;
   margin-top: 80px;
   /* display: table; */
   table-layout: fixed;
width: 100%;
    background-color: whitesmoke;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.5);    /* flex-shrink: 3; */
    /* flex-shrink: 1; */
    /* aspect-ratio: 100 / 29;
    width: 100%; */
}
/* .container-bug{
    background-color: lightblue;
    flex-shrink: 10;
} */
 @media only screen and (max-width: 1300px) {
    .wrapper-2{
        flex-direction: column;
    }
    
     }
.wrapper-2{
    display: flex;
    /* position: center; */
    /* width: 1000px; */
}
/* body{
background-color: grey;
} */
.project-tab{
    
    position: relative;
    bottom:10px;
    background-color: yellowgreen;
}