.wrapper {
/* margin: 0 auto; */
  /* width: 1450px;    */
 display:grid;
 }
.container-md{
    margin: 0 auto;
   margin-top: 80px;
   
   table-layout: fixed;
width: 100%;
    background-color: whitesmoke;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.5);    
    
}

 @media only screen and (max-width: 1300px) {
    .wrapper-2{
        flex-direction: column;
    }
    
     }
.wrapper-2{
    display: flex;
   
}

.project-tab{
    
    position: relative;
    bottom:10px;
    background-color: yellowgreen;
}