
    
    <!-- <button (click)="navToProject()"  class="btn btn-info">
        <span >Back to projects</span>  
      </button> -->
     
     <div class="container">
      <div class="wrapper">
        <nav class="navbar navbar-light bg-light justify-content-between">
          <a class="navbar-brand">Logged in as: {{t}}</a>
          <form class="form-inline">
            <button class="btn-secondary my-2 my-sm-0" (click)="onLogOut()" style="margin-right:20px;">LogOut</button>
            <button (click)="navToProject()"  class="btn-secondary my-2 my-sm-0" >
              <span >Back to projects</span>  
            </button>
          </form>
        </nav>
       
        <div class="container-md" style="width: 100%;">
        <div>
        <!-- <header> -->
          <!-- Project table style="width: 1185px;" -->
          <div class="col-md-12">
       <div class="tab-pane fade show active"  id="projects">
         
         <table class="table table-hover" >
           <thead class="table-borderless" >
             <th colspan="4"  class="project-tab"  >Details for Project {{projectName}}</th>
      
             <tr class="text-center">
      
               <th>Project Name</th>
               <th>Project Description</th>
               
      
             </tr>
           </thead>
           <tbody >
             <tr class="text-center">
      
               <td>{{projectName}}</td>
               <td>{{projectDescription}}</td>
             
             </tr>
           </tbody>
           
         </table>
       </div>
      
      </div>
    </div>
      
      
      
        <!-- <header> -->
          <!-- Project table style="width: 1185px;" -->
          <div class="wrapper-2">
        <div class="col-xs-6" style="margin-right: 20px;"> 
      
       <div class="tab-pane fade show active"  id="projects">
         
        <table class="table table-hover" style="box-shadow: 20px 20px 1em;" style="margin-top: 55px;" >
             
          <thead class="table-borderless">
              <th colspan="4"  style="background-color: yellowgreen;"  >
                <div style="margin-right: 10px;" >Assigned Users</div>
              </th>
            <tr class="text-center">
             
             
              <th>Username</th>
             <!-- <th>Email</th> -->
              <th>Role</th>
             
            </tr>
          </thead>
          <tbody *ngFor="let appUser of projectUsers">
            <tr class="text-center">
              
             
              <td >{{appUser?.username}}</td>
             <!-- <td >{{appUser?.email}}</td> -->
              <td >{{appUser?.role}}</td>
              
            </tr>
          </tbody>
        </table>

       </div>
      </div >
      <!-- </div> -->
      
      
      <div class=".container-bug">
        <!-- <header> -->
        <div class="col-xs-6" >
       <!-- Bug table -->
       <div class="tab-pane fade show active" id="bugs">
        <div class="mb-3 float-right">

            <div class="btn-group mr-2">
    
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addBugModal">
                <i class="fa fa-plus" ></i>New Bug
              </button>
            </div>

          </div>
          <!-- <table class="row" class="table table-hover" style="margin-bottom: 30px;">-->
        <table class="row" class="table table-hover" >
          <thead class="table-borderless">
            <th colspan="8" style="background-color: red;">Current Bugs</th>

            <tr class="text-center">
  
              <th>ID</th>
              <th>Description</th>
              <th>Location</th>
              <th>Priority</th>
              <th>Type</th>
              <th>Status</th>
              <th>Actions</th>
  
            </tr>
          </thead>
          <tbody *ngFor="let appBug of bugs">
            <tr class="text-center">
  
              <td>{{appBug?.bugId}}</td>
              <td>{{appBug?.bugDescription}}</td>
              <td>{{appBug?.bugLocation}}</td>
              <td> 
                <span *ngIf='stylefunc(appBug?.bugPriority) == 1' class="badge badge-danger" >{{appBug?.bugPriority}}</span>
                <span *ngIf='stylefunc(appBug?.bugPriority) == 2' class="badge badge-warning" >{{appBug?.bugPriority}}</span>
                <span *ngIf='stylefunc(appBug?.bugPriority) == 3' class="badge badge-light" >{{appBug?.bugPriority}}</span>
              </td>
              <td>{{appBug?.bugType}}</td>
              
              <td>
                <span *ngIf="appBug?.isActive" class="badge badge-success">Active</span>
                <span *ngIf="!appBug?.isActive" class="badge badge-danger">Inactive</span>
              </td>
  
              <td>
                <div class="btn-group">
                  <button class="btn btn-outline-info" (click)="onEditBug(appBug)"><i class="fas fa-edit"></i></button>
                  <button [disabled]="!isManager" type="button" class="btn btn-outline-danger" (click)="onDeleteBug(appBug?.bugId)"><i
                      class="fas fa-trash"></i></button>
                </div>
  
              </td>
            </tr>
          </tbody>
        </table>
   
      <button [hidden]="true" type="button" id="openBugEdit" data-toggle="modal" data-target="#editBugModal">
      </button>
    </div>

</div>
       <!-- </header> -->
      </div>
      </div>
      </div>
    </div> 
  </div>
      <!-- model add bug -->
      <div class="modal draggable fade bd-example-modal-lg" id="addBugModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center">New Bug</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                <form #newBugForm="ngForm" (ngSubmit)="onAddNewBug(newBugForm)">
                  <div class="form-group">
                    <label for="bugDescription">Description</label>
                    <input type="text" name="bugDescription" required ngModel class="form-control">
                  </div>
  
                  <div class="form-group">
                    <label for="bugLocation">Location</label>
                    <input type="text" name="bugLocation"  required ngModel class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="bugPriority">Priority</label>
                    <input type="text" name="bugPriority" required ngModel  class="form-control">
                  </div>
                  
                  <select (change)="selectChangeHandler($event)">
                    <option value="">Select Bug Type</option>
                    <option value="mySQL">mySQL</option>
                    <option value="Spring boot">Spring boot</option>
                    <option value="Angular">Angular</option>
                    <option value="Apache Server">Apache Server</option>
                    
                  </select>
                 
                    <div class="form-check" style='margin-top: 10px;'>
                      <label class="form-check-label">
                        <input type="checkbox" name="isActive"  ngModel class="form-check-input">
                        Active
                      </label>
                    
                    </div>
                <br>
                    <div class="form-group">
                        <label for="projectName">Project Name</label>
                        <input type="text" name="projectName" required ngModel  class="form-control">
                      </div>
  
                  <button type="submit" style="display: none;" id="new-bug-save"></button>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="new-bug-close">Close</button>
              <button type="button" (click)="saveNewBug()" [disabled]="newBugForm.invalid" class="btn btn-primary">Save
                changes</button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- modal edit bug -->
      <div class="modal draggable fade bd-example-modal-lg" id="editBugModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center">Update Bug</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="">
                <form #editBugForm="ngForm">
                  <div class="form-group">
                    <label for="bugDescription">Bug Description</label>
                    <input type="text" name="bugDescription" required [(ngModel)]="editBug.bugDescription"
                      class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="bugLocation">Bug Location</label>
                    <input type="text" name="bugLocation" required [(ngModel)]="editBug.bugLocation" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="bugPriority">Bug Priority</label>
                    <input type="text" name="bugPriority" required [(ngModel)]="editBug.bugPriority" class="form-control">
                  </div>
                  <div>Bug Type</div>
                  <select (change)="selectChangeHandler($event)">
                    <option value="">Select Bug Type option</option>
                    <option value="mySQL">mySQL</option>
                    <option value="Spring boot">Spring boot</option>
                    <option value="Angular">Angular</option>
                    <option value="Apache Server">Apache Server</option>
                  </select>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input name="isActive" type="checkbox" required [(ngModel)]="editBug.isActive" class="form-check-input">
                        Active
                      </label>
                     
                    </div>
  
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"
                id="closeEditBugModalButton">Close</button>
              <button type="button" (click)="onUpdateBug()" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    
   
    