
<div class="container">
  <!-- <div class="row mb-2 mt-2 text-center">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h5>Manager Project Users</h5>
      
    </div>
    <div class="col-md-4">
    </div>
    
  </div> -->

  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Logged in as: {{t}}</a>
    <form class="form-inline">
      <button class="btn-secondary my-2 my-sm-0" (click)="onLogOut()" style="margin-right:20px;">LogOut</button>
      <button (click)="navToProject()"  class="btn-secondary my-2 my-sm-0" >
        <span >Back to projects</span>  
      </button>
    </form>
  </nav>
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="nav nav-pills">
        
        <h3>
          Welcome
        </h3>
        
      </div>
      <button (click)="onLogOut()" style="margin-left: 800px;" class="btn-secondary">
        <span >Logout</span>  
      </button>
    </div>
  </nav> -->

  <!-- <button (click)="onLogOut()"  class="btn btn-info">
    <span >Logout</span>  
  </button> -->

  
  <div class="tab-content mt-3" id="myTabContent">
    <!-- user table -->
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addUserModal">
      <i class="fa fa-plus">Assign User To {{currentProjectN}}</i>
    </button>
    <div class="tab-pane fade show active" >
     
      <table class="table table-hover">
        
        <thead class="table-borderless">
          <tr class="text-center">
           
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
           
          </tr>
        </thead>
        <tbody *ngFor="let appUser of projectUsers">
          <tr class="text-center">
            
            <td >{{appUser?.firstName}}</td>
            <td >{{appUser?.lastName}}</td>
            <td >{{appUser?.username}}</td>
            <td >{{appUser?.email}}</td>
            <td >{{appUser?.role}}</td>
            
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <!-- add user to project -->
  <div class="modal draggable fade bd-example-modal-lg" id="addUserModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center"> Select a username </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <form #userForm="ngForm" (ngSubmit)="assignProjectAndUser(userForm)">
            
            <select (change)="selectChangeHandler($event)">
              <option value="">Select Users</option>

              <option  *ngFor="let u of users" [value]="u.username">
                {{u.username}}
            
              </option>
          
            </select>
        
            <button type="submit" style="display: none;" id="save-assigned-user"></button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Close</button>
        <button type="button" (click)="saveAssignedUser()" [disabled]="userForm.invalid" class="btn btn-primary">Save
          changes</button>
      </div>
    </div>
  </div>
</div>


  </div>
