<div class="container">
    <div class="row mb-2 mt-2 text-center">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <h3> My Projects</h3>
        
      </div>
      <div class="col-md-4">
      </div>
    </div>
  
    <div class="tab-content mt-3" id="myTabContent">
      <!-- Project table -->
      <div class="tab-pane fade show active" id="projects">
        <div class="mb-3 float-right">
          <div class="btn-group mr-2">
  
            <button [hidden]="!isManager" type="button" class="btn btn-info" data-toggle="modal" data-target="#addProjectModal">
              <i class="fa fa-plus"></i>New Project
            </button>
          </div>
        </div>
        <table class="table table-hover">
          <thead class="table-borderless">
            <tr class="text-center">
  
              <th>Project Name</th>
              <th>Project Description</th>
              <th>Actions</th>
  
            </tr>
          </thead>
          <tbody *ngFor="let appProject of projects">
            <tr class="text-center">
  
              <td>{{appProject?.projectName}}</td>
              <td>{{appProject?.projectDescription}}</td>
            
              
                <div class="btn-group">
                  
          
                    <button [hidden]="!isManager" class="btn btn-info" style='margin-right: 10px;' >Manage Users</button> 
                   
                    <button (click)="listp(appProject.projectName)" class="btn btn-info">View details</button>
                    
                  </div>
                  
               
            </tr>
          </tbody>
          
        </table>
      </div>
     
      <a href="/user">User</a>
  
    </div>
   
    
    <div class="modal draggable fade bd-example-modal-lg" id="addProjectModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center">New Project</h5>
            <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <form #newProjectForm="ngForm" (ngSubmit)="onAddNewProject(newProjectForm)">
                <div class="form-group">
                  <label for="projectName">Project Name </label>
                  <input type="text" name="projectName" required ngModel class="form-control">
                </div>

                <div class="form-group">
                  <label for="projectDescription">Project Description</label>
                  <input type="text" name="projectDescription"  required ngModel class="form-control">
                </div>


                <button type="submit" style="display: none;" id="new-project-save"></button>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="new-project-close">Close</button>
            <button type="button" (click)="saveNewProject()" [disabled]="newProjectForm.invalid" class="btn btn-primary">Save
              changes</button>
          </div>
        </div>
      </div>
    </div>
  
   
</div>

