<div class="container">
    <div class="row mb-2 mt-2 text-center">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <h5>Admin Management Portal</h5>
        
      </div>
      <div class="col-md-4">
      </div>
    </div>
  
    <!-- nav bar -->
    <nav class="navbar navbar-expand-md breadcrumb">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="nav nav-pills">
          
          <h3>
            Welcome
          </h3>
           
        </div>
      </div>
    </nav>
  
    <button (click)="onLogOut()"  class="btn btn-info">
      <span >Logout</span>  
    </button>
    <div class="tab-content mt-3" id="myTabContent">
      <!-- user table -->
      <div class="tab-pane fade show active" >
       
        <table class="table table-hover">
          <thead class="table-borderless">
            <tr class="text-center">
              <th>User ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Role</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let appUser of users">
            <tr class="text-center">
              
              <td >{{appUser?.userId}}</td>
              <td >{{appUser?.firstName}}</td>
              <td >{{appUser?.lastName}}</td>
              <td >{{appUser?.username}}</td>
              <td >{{appUser?.email}}</td>
              <td >{{appUser?.role}}</td>
              
              <td class="">
                <div class="btn-group">
                  <button type="button"class="btn btn-outline-danger" (click)="onDeleteUser(appUser?.username)"><i class="fas fa-trash"></i></button>
                  <button type="button" class="btn btn-outline-info" (click)="saveUsername(appUser?.username)" id="openRoleEdit" data-toggle="modal" data-target="#editRoleModal"><i class="fas fa-edit"></i>
                  </button>
                </div>
              </td>
              <td>
                <div>
                
              </div>
              </td>
            
            
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      
      <!-- modal update user role -->
      <div class="modal draggable fade bd-example-modal-lg" id="editRoleModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center">Select Role</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="">
                <form #editRoleForm="ngForm">
                  
                  <div>User Role</div>
                  <select (change)="selectChangeHandler($event)">
                    <option value="">Select User Role option</option>
                    <option value="ROLE_USER">User</option>
                    <option value="ROLE_MANAGER">Manager</option>
                    <option value="ROLE_ADMIN">Admin</option>
                  </select>
                 
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"
                id="close">Close</button>
              <button type="button" (click)="updateUserRole()" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
  
  
    </div>
  